<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sugoi Board!</title>
</head>
<body>
    <header>
        <h1>Sugoi</h1>
        <a href="http://127.0.0.1:3000/board">enter!</a>
    </header>
    <main>
        <div class="hero">
            <div class="hero__explain">
                <h2>
                    Enter our sugoi board!
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
        </div>

        <div class="board">
            <div class="board__image"></div>
            <div class="board__cta">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, blanditiis optio in aspernatur architecto corrupti sequi fugit 
                </p>
            </div>
        </div>

        <div class="features">
            <div class="feature__card">
                <div class="feature__card-header"></div>
                <div class="feature__card-body"></div>
            </div>
            <div class="feature__card">
                <div class="feature__card-header"></div>
                <div class="feature__card-body"></div>
            </div>
            <div class="feature__card">
                <div class="feature__card-header"></div>
                <div class="feature__card-body"></div>
            </div>
            <div class="feature__card">
                <div class="feature__card-header"></div>
                <div class="feature__card-body"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="social">
            <a href="http://facebook.com" target="_blank" rel="noopener noreferrer"><img src="" alt="facebook logo" ></a>
            <a href="http://twitter.com" target="_blank" rel="noopener noreferrer"><img src="" alt="twitter logo" ></a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer"><img src="" alt="instagram logo" ></a>
        </div>
    </footer>
</body>
</html>